body {
  background: #F8FAFC;
}
.container {
  margin: 20px auto;
  display: flex;
}
.container .left_menu {
  width: 180px;
  min-height: 200px;
  float: left;
}
.container .left_menu .menu_item {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.container .left_menu .menu_item a {
  font-size: 16px;
}
.container .left_menu .menu_item a:hover {
  color: #333;
}
.container .left_menu .menu_item i {
  float: right;
  line-height: 40px;
}
.container .left_menu .menu_item.active a,
.container .left_menu .menu_item.active i {
  color: #ffd102;
}
.container .left_menu .menu_title {
  margin-bottom: 20px;
  height: 50px;
  font-size: 20px;
  border-bottom: 1px solid #999;
}
.container .right_content {
  flex: 1;
  min-height: 530px;
  padding-left: 30px;
}
.container .right_content .myOrder_wrapper .myOrder_header {
  height: 50px;
  margin-bottom: 20px;
}
.container .right_content .myOrder_wrapper .myOrder_header .title {
  margin-right: 40px;
  font-size: 20px;
  font-weight: 700;
  width: 120px;
  border-right: 1px solid #999;
}
.container .right_content .myOrder_wrapper .myOrder_header .nav-pills > li.active > a {
  background-color: #ffd102;
}
.container .right_content .myOrder_wrapper .myOrder_header .nav > li > a:hover {
  color: #333;
}
.container .right_content .myOrder_wrapper .order_nocontent {
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-align: center;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item {
  width: 100%;
  min-height: 240px;
  background: #fff;
  border-radius: 10px;
  padding: 0px 30px 30px 30px;
  margin-bottom: 20px;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_header {
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  border-bottom: 1px solid #999;
  margin-bottom: 20px;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_header i {
  color: #ffd102;
  width: 30px;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_header .order_date {
  color: #666;
  margin-left: 20px;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_body .order_detail {
  height: 140px;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_body .order_detail .course_pic {
  width: 200px;
  height: 120px;
  margin-right: 20px;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_body .order_detail .course_pic img {
  width: 100%;
  height: 100%;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_body .order_detail .course_detail {
  width: 360px;
  height: 120px;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_body .order_detail .course_detail .courseName {
  font-size: 18px;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_body .order_detail .course_detail .price {
  color: red;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_body .order_detail .course_price {
  width: 160px;
  height: 120px;
  line-height: 120px;
  color: red;
  font-size: 26px;
  text-align: center;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_body .order_detail .order_status {
  height: 120px;
  line-height: 120px;
  font-size: 16px;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_body .order_detail:last-child {
  border-bottom: 1px solid #999;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_footer {
  padding-right: 80px;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_footer .total_price {
  font-size: 20px;
}
.container .right_content .myOrder_wrapper .myOrder_body .order_item .order_footer .total_price .price_red {
  color: red;
}
.container .right_content .myPocket .myPocket_header {
  height: 50px;
  font-size: 20px;
  font-weight: 700;
}
.container .right_content .myPocket .mypocket_body {
  width: 100%;
  min-height: 340px;
  background: #fff;
  border-radius: 10px;
}
.container .right_content .myPocket .mypocket_body .balance {
  width: 100%;
  height: 120px;
  background: #ffd102;
  border-radius: 10px 10px 0 0;
  padding: 20px 30px;
  color: #fff;
}
.container .right_content .myPocket .mypocket_body .balance .cur_balance {
  min-width: 180px;
}
.container .right_content .myPocket .mypocket_body .balance .cur_balance p {
  font-size: 16px;
}
.container .right_content .myPocket .mypocket_body .balance .cur_balance .price_num {
  font-size: 24px;
}
.container .right_content .myPocket .mypocket_body .balance .recharge button {
  background: #fff;
  color: #ffd102;
  border-radius: 25px;
  margin-bottom: 10px;
}
.container .right_content .myPocket .mypocket_note {
  padding: 40px 0;
  width: 100%;
  height: 170px;
  text-align: center;
}
.container .right_content .myPocket .mypocket_note i {
  color: #999;
  font-size: 60px;
}
