body {
  overflow: hidden !important;
}
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}
.navbar .container-fluid .navbar-header .navbar-brand .logo-img {
  width: 40px;
  margin-top: -10px;
}
.navbar .container-fluid .collapse .navbar-right li a > i {
  font-size: 16px;
}
.navbar .container-fluid .collapse .navbar-right li .badge {
  margin-left: 10px;
  background-color: red;
}
.navbar .container-fluid .collapse .navbar-right li .dropdown-menu {
  max-width: 310px;
  overflow: hidden;
}
.navbar .container-fluid .collapse .navbar-right li .dropdown-menu li > a {
  width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.navbar .container-fluid .collapse .navbar-right li.adminName p {
  max-width: 120px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
