@charset 'utf-8';
.enter_head {
  height: 60px;
  background: #438eb9;
  padding: 0 40px;
  border-bottom: 2px solid #62d2f9;
}
.enter_head .head_logo {
  line-height: 50px;
}
.enter_head .head_logo img {
  width: 50px;
  height: 50px;
}
.enter_head .head_logo h3 {
  color: #fff;
  display: inline-block;
  margin: 0 15px;
}
.enter_head .headnav li {
  float: left;
}
.enter_head .headnav li a {
  display: block;
  width: 100px;
  color: #fff;
  text-align: center;
  padding: 30px 5px 4px 5px;
  font-size: 16px;
  background: url('../../images/ico_bg.png') no-repeat;
}
.enter_head .headnav .current-menu a {
  width: 120px;
  background-color: #62d2f9;
}
.enter_head .headnav li#menu_0 a {
  background-position: center -95px;
}
.enter_head .headnav li#menu_1 a {
  background-position: center -195px;
}
.enter_head .headnav li#menu_2 a {
  background-position: center -295px;
}
.enter_head .headnav li#menu_3 a {
  background-position: center -395px;
}
.enter_head .headlink li {
  float: left;
}
.enter_head .headlink li a {
  color: #fff;
  padding: 0 25px;
  line-height: 60px;
  background: url('../../images/main_link_ico.png') no-repeat;
}
.enter_head .headlink li#link_0 a {
  background-position: 0 0;
}
.enter_head .headlink li#link_1 a {
  background-position: 0 -150px;
}
.enter_head .headlink li#link_2 a {
  background-position: 0 -50px;
}
.enter_head .headlink li#link_3 a {
  background-position: 0 -190px;
}
.enter_head .headlink li#link_4 a {
  background-position: 0 -100px;
}
/*enter_head end*/
/*leftmenu star*/
.leftMenu {
  width: 180px;
  height: 600px;
  position: absolute;
  top: 60px;
  left: 0;
  border-right: 1px solid #b8c8d2;
}
.leftMenu .hidden_menu {
  display: none;
  width: 30px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  border: 1px solid #b8c8d2;
  background: #f9f9f9;
  position: absolute;
  margin-top: 230px;
  margin-left: 150px;
  z-index: 99;
  cursor: pointer;
}
.leftMenu .menu_detail dl dt {
  width: 179px;
  height: 35px;
  line-height: 35px;
  text-indent: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #585858;
  background: #f9f9f9;
  cursor: pointer;
}
.leftMenu .menu_detail dl dt .fa-chevron-down,
.leftMenu .menu_detail dl dt .fa-chevron-up {
  display: block;
  line-height: 30px;
  float: right;
  margin-right: 10px;
}
.leftMenu .menu_detail dl dd ul li {
  line-height: 35px;
}
.leftMenu .menu_detail dl dd ul li a {
  width: 180px;
  display: block;
  text-indent: 20px;
  color: #333;
}
.leftMenu .menu_detail dl dd ul li a:hover {
  width: 180px;
  background: #438eb9;
  color: #fff;
  text-decoration: none;
  border-top: 1px solid #b8c8d2;
  border-bottom: 1px solid #b8c8d2;
}
/*leftmenu end*/
/*footer star*/
footer {
  width: 100%;
  height: 30px;
  background: #438eb9;
  position: fixed;
  bottom: 0;
}
/*footer end*/
