@charset "utf-8";

/**CSS Reset 开始**/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,output,ruby,section,summary,time,mark,audio,video {
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}
blockquote,q {quotes: none;}
blockquote:before,blockquote:after,q:before,q:after {content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/**CSS Reset 结束**/

/**公共样式开始**/
body,th,td,button,input,select,textarea {font: 12px/1.62 "Microsoft Yahei","Hiragino Sans GB","Helvetica Neue",Helvetica,tahoma,arial,Verdana,sans-serif;color: #333;}
ol,ul,li {list-style: none;}
input{border:none;}
img {border:0;vertical-align:middle;}
a {text-decoration: none;outline:none;}
h1 {font-size:36px;}
h2 {font-size:30px;}
h3 {font-size:24px;}
h4 {font-size:18px;}
h5 {font-size:14px;}
h6 {font-size:12px;}
a:hover, a:visited , a:link , a:active{
	text-decoration: none;
}
.left, .l {float:left;}
.right, .r {float:right;}
.clearfix, .cf{*zoom:1}
.clearfix:after, .cf:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clear, .cl {clear:both;}
/**公共样式开结束**/

/*login start*/
.login{
	background: url('../../images/login_bg.jpeg') no-repeat;
	background-size: 100%;
}
.loginMain{
	color: #fff;
	font-size: 16px;
	width: 670px;
	height: 320px;
	position: absolute;
	margin: 150px 335px;
	opacity: 0.9;
	background-color: #ADADAD;
}
.loginMain h1{
	text-align: center;
}
.loginMain ul li{
	padding: 15px;
}
.loginMain ul li .verifyCode{
	width: 120px;
	line-height: 30px;
	background: #fff;
	position: absolute;
	margin: -30px 0 0 390px;
	color: #000;
	text-align: center;
	font-size: 20px;
}
.loginMain ul li span{
	display: inline-block;
	width: 120px;
	height: 25px;
	text-align: right;
	margin-left: 20px;
}
.loginMain ul li i{
	display: inline-block;
	width: auto;
	line-height: 30px;
	color: #ff0000;
	font-size: 16px;
	margin-left: 10px;
	text-align: center;
}
.loginMain ul li i.verify_error{
	margin-left: 140px;
}
.loginMain ul li input[type="text"],.loginMain ul li input[type="password"] {
	width: 200px;
	height: 30px;
	padding: 0 5px;
}
.loginMain ul li input[type="button"]{
	width: 100px;
	height: 30px;
	position: absolute;
	margin:-20px 180px;
	border-radius: 5px;
	background: #00497d;
	color:#fff;
	cursor: pointer;
}
.loginMain ul li input[type="button"]:hover {
	background: #015997;
}
/*login end*/